@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap");

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
    font-size: 1rem;
    scroll-behavior: smooth;
}

.ms-auto {
    margin-right: -80px;
}

.background-image-other {
    background-size: cover;
    background-image: url("/assets/ASET/Group 70@2x.png");
    background-position: top center;
    height: 80%;
    width: 100%;
    color: white;
    overflow: hidden;
    background-repeat: no-repeat;
    z-index: 0;
}

/* Navbar styling */
.navbar {
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between; /* Menambahkan jarak antara brand dan menu */
}

.navbar-nav {
    display: flex;
    align-items: center; /* Menyelaraskan item nav secara vertikal */
}

.navbar-nav .nav-link {
    color: white; /* Mengubah warna tautan menjadi putih */
    margin-right: 0.7rem;
    font-size: 1rem; /* Ukuran font default */
}

.navbar .navbar-brand {
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: -15px;
    text-decoration: none; /* Menghapus garis bawah */
    color: white; /* Warna normal */
    transition: color 0.3s ease; /* Menambahkan transisi untuk perubahan warna */
}

.navbar .navbar-brand:hover,
.navbar-nav .nav-link:hover {
    color: #ccc; /* Pastikan hover tetap berwarna putih */
    transition: color 0.3s ease; /* Menambahkan transisi untuk perubahan warna */
}

/* Media queries for responsiveness */

/* Ukuran layar kecil (ponsel) */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Ubah menjadi kolom di ponsel */
        align-items: flex-start; /* Menyelaraskan elemen di kiri */
    }

    .navbar-nav {
        flex-direction: column; /* Ubah menjadi kolom untuk item nav */
        width: 100%; /* Mengambil lebar penuh */
        margin-top: 10px; /* Tambahkan margin untuk jarak */
    }

    .navbar-nav .nav-link {
        margin-right: 0; /* Menghapus margin kanan untuk item vertikal */
        margin-bottom: 10px; /* Tambahkan jarak antar tautan */
        font-size: 0.9rem; /* Ukuran font lebih kecil untuk ponsel */
    }
}

/* Ukuran layar menengah (tablet) */
@media (min-width: 768px) and (max-width: 992px) {
    .navbar-nav .nav-link {
        font-size: 1rem; /* Ukuran font normal untuk tablet */
    }
}

.content {
    position: absolute;
    top: 40%;
    left: 20px; /* Space from the left */
    right: 10%;
    max-width: 655px;
    transform: translateY(-50%); /* Centers vertically */
    padding: 0 20px;
    color: white;
    margin-top: 50px;
    margin-left: 60px;
}

.content h2 {
    font-weight: 900;
    text-align: left; /* Align text to the left */
    color: white;
    font-size: 3em;
    margin: 0;
    /* Optionally add padding or margin for spacing */
}
