@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    background-color: #f4f4f4;
    overflow-x: hidden;
    font-size: 1rem;
    scroll-behavior: smooth;
}

.background-image {
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: relative;
    color: white;
}

.hero {
    background-image: url("/assets/ASET/img-4-2000x2000.png");
    background-size: cover;
    height: 55rem;
    width: 55rem;
    position: absolute;
    top: -215px;
    right: -250px;
    color: white;
    z-index: 1;
}

.navbar-brand {
    font-size: 1.8rem;
    margin-left: -80px;
    color: #000000;
}

.navbar {
    display: flex;
    align-items: center;
    margin-left: 35px;
}

.konten, .kecil,
.card-text {
    font-weight: 500;
}

.container h1 {
    font-size: 3em;
    font-weight: bold;
}

.navbar-nav .nav-link {
    font-weight: bold;
    margin-right: 20px;
    margin-top: 10px;
    font-weight: 500;
}

.navbar-nav .nav-link:hover {
    color: #ddd;
}

.content {
    margin-top: 240px;
    margin-left: -65px;
    max-width: 665px;
    transform: translateY(-50%);
    padding: 0 20px;
    color: #000000;
}

.content h1 {
    font-size: 3em;
    font-weight: 300; /* Sesuaikan jika perlu */
}

.content b {
    font-weight: 900;
}


.black-line {
    border: 0;
    height: 2px;
    border-top: 3px solid #000000;
    background-color: #000000;
    width: 13%;
    margin: 20px 0;
    position: relative;
    right: -3px;
}

.black-line1 {
    border: 0;
    height: 2px;
    border-top: 3px solid #000;
    background-color: #000;
    width: 9%;
    margin: 10px auto;
    position: relative;
    top: -20px;
}

p {
    font-weight: bold;
}

.about p {
    width: 666px;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.6em;
    padding: 20px;
    box-sizing: border-box;
}

.btn-black {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: black;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-black:hover {
    background-color: #333;
}

.about {
    background-color: white;
    padding: 10px;
    line-height: 1.6;
}

.about h3 {
    margin-top: 55px;
}

.about span {
    display: block;
    margin-bottom: 1em;
    font-weight: 500;
}

.gallery {
    background-image: url("/assets/ASET/monika-grabkowska-P1aohbiT-EY-unsplash.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    width: 100%;
    height: 630px;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 13px;
    align-items: center;
}

.gallery-card {
    align-items: center;
    text-align: center;
    border-radius: 15px;
    margin-top: 80px;
    box-shadow: 0px 0px 5px black;
}

.card-image {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    margin-top: -140px;
    display: block;
}

.news-title {
    text-align: center;
    margin-top: 90px;
    margin-bottom: 50px;
    font-size: 24px;
    font-weight: bold;
}

.berita-card {
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    display: block;
}

.card-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
}

.card-text {
    margin-bottom: auto;
    font-size: 13px;
    color: #6c757d;
}

.berita-card .card-title,
.kecil-card {
    margin-bottom: 20px;
    line-height: 1.6;
}

.bodis {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.read-more {
    color: #f39c12;
    position: relative;
    display: inline-block;
    text-decoration: none;
    margin-top: auto;
}

.read-more::after {
    content: '';
    position: absolute;
    left: 0; /* Awal dari kiri */
    bottom: -5px; /* Jarak garis dari teks */
    width: 0; /* Awalnya tidak ada lebar */
    height: 2px; /* Ketebalan garis bawah */
    background-color: #f39c12; /* Warna garis */
    transition: width 0.3s ease;
}

.read-more:hover::after {
    width: 70%; /* Mengubah lebar garis menjadi 100% dari lebar teks saat hover */
    /* Tidak perlu left dan transform di sini */
}

.read-besar {
    color: #f39c12;
    position: relative;
    display: inline-block;
    text-decoration: none;
    margin-top: 10px; /* Adjust as needed */
}

.read-besar::after {
    content: '';
    position: absolute;
    left: 0; /* Align to the left */
    bottom: -5px; /* Position below the text */
    width: 0;
    height: 2px; /* Thickness of the underline */
    background-color: #f39c12; /* Underline color */
    transition: width 0.3s ease, left 0.3s ease;
}

.read-besar:hover::after {
    width: 31%; /* Expands to full width on hover */
}

.berita {
    text-align: left;
}

.kecil-card {
    height: 370px;
    margin: 0 0;
    overflow: hidden;
}

.kecil-card img {
    height: 170px;
}

.card-panjang {
    height: 765px;
}

.galeri-title {
    text-align: center;
    margin: 50px 0 50px 0;
    font-size: 24px;
    font-weight: bold;
}

.galeri {
    justify-content: center;
    background-color: white;
    gap: 5px;
    margin-top: 10px;
}

.galeri img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 10px;
}

.image-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: 15px;
    padding-bottom: 100%;
    background-color: #f8f8f8;
}

.image-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

.image-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
}

.image-shadow:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.galeri-btn {
    display: block;
    width: 250px; /* Set the width as needed */
    margin: 30px auto; /* Center the button */
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
    border: none;
    text-decoration: none; /* Remove underline */
    transition: background-color 0.3s; /* Smooth hover effect */
    font-weight: 500;
}

.galeri-btn:hover {
    background-color: darkgray; /* Change on hover */
}

/* Footer */
.footer {
    padding: 5rem;
    /* margin-top: 3rem; */
    background-color: #000000;
    color: #f4f4f4;
}
.footer h5 {
    font-weight: bold;
    margin-bottom: 20px;
}
.footer p {
    color: #b5b5b5;
}
.footer a {
    color: #ffffff;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}
.social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    color: #ffffff;
    border-radius: 50%;
    background-color: #3b5998;
}
.social-icons a.twitter {
    background-color: #1da1f2;
}
.social-icons a i {
    font-size: 20px;
}
.footer-bottom {
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;
}

.contact-info li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: small;
}
.contact-info li i {
    margin-right: 10px;
}
.list-unstyled li {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: small;
}

.botten {
    display: grid;
    place-items: center; /* Menengahkan item secara horizontal dan vertikal */
    /* height: 100vh; Mengatur tinggi kontainer ke 100% viewport */
    padding-bottom: 25px;
}

.btn-more {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

.btn-more:hover {
    background-color: #555; /* Change to a lighter shade */
    color: #fff; /* Maintain text color */
    transition: background-color 0.3s; /* Smooth transition */
}

